.h1-search {
    color: #001930;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
}

.h6-search {
    color: #955115;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;

}